/* =========================
   BANK GOTHIC
========================= */
@font-face {
  font-family: "BankGothic";
  src: url("../font/Bank Gothic Light Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BankGothic";
  src: url("../font/bank gothic medium bt.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BankGothic";
  src: url("../font/BankGothic Md BT.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BankGothic";
  src: url("../font/BankGothic Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   ROOT
========================= */
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--transition: .75s cubic-bezier(.075, .5, 0, 1);
  --depth: 4000px;
}

/* =========================
   SCROLLBAR
========================= */
body {
  scrollbar-width: none;
}
body::-webkit-scrollbar { 
  display: none;
}

/* =========================
   BODY
========================= */
body {
  background-color: white;
  color: #000;
  font-family: "BankGothic", system-ui, sans-serif;
  font-weight: 300;
  height: var(--depth);
}

/* =========================
   SCENE
========================= */
.scene-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
  line-height: 1.75;
  font-size: calc(var(--index) * .8);
  font-family: "BankGothic", system-ui, sans-serif;
}

.scene-gallery {
	transform-style: preserve-3d;
	height: 100%;
}

.scene-frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}

/* =========================
   HEADINGS
========================= */
.scene-wrap h1,
.scene-wrap h2,
.scene-wrap h3,
.scene-wrap h4 {
	font-family: "BankGothic", system-ui, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1;
}

/* =========================
   MEDIA
========================= */
.scene-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}

.scene-media--left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.scene-media--right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.scene-frame--bg {
	background: rgba(255,255,255,0.9);
}

/* =========================
   VIDEO
========================= */
video.scene-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}

video.scene-media--right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.scene-media--left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

/* =========================
   TEXT POSITION
========================= */
.text--right > * {
	position: relative;
	left: 18vw;
	text-align: center;
}

.text--left > * {
	position: relative;
	right: 18vw;
	text-align: center;
}

/* =========================
   TYPOGRAPHY
========================= */
.scene-frame h3 {
	font-family: "BankGothic", system-ui, sans-serif;
	font-weight: 600;
	font-size: calc(var(--index) * 1);
	color: #AD1C42;
}

.scene-frame p {
	font-family: "BankGothic", system-ui, sans-serif;
	font-weight: 300;
	max-width: 30vw;
	margin-top: 3vh;
	font-size: calc(var(--index) * 0.7);
	line-height: 1.75;
}

.scene-frame p strong {
  font-weight: 700;
}
